.claim-container {
  // background-image: url("../public/Assests/LoginBackground.png");
  width: 100%;
  min-height: 110vh;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .claim {
    width: 100%;
    min-height: 110vh;
    height: 100%;
    background-color: rgba(198, 197, 218, 0.5);
  }
  .claim-header {
    padding: 5px 20px 5px 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

    .header-row {
      display: flex;
      align-items: center;

      p {
        font-size: 30px;
        font-weight: 700;
        font-family: 'Open Sans';
      }
    }
  }

  .claim-body {
    margin-top: 20px;

    h2 {
      font-size: 30px;
      font-family: 'Open Sans';
    }

    .ant-upload-list-item {
      background-color: #ffffff !important;
    }
    .sign-in-button {
      background-color: #e5e8f7 !important;
      padding: 25px 70px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      font-size: 18px;
      font-family: 'Open Sans';
      font-weight: 700;
    }

    .claim-form {
      label {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans';
        margin-bottom: 4px;
      }
    }
  }

  .claim-body-new {
    padding: 30px 20px;
    h3 {
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      color: orange;
      font-family: 'Open Sans';
      margin: 0 !important;
    }
    .heading-p {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      font-family: 'Open Sans';
      margin: 10px 0 !important;
    }
    .expense-row {
      margin-top: 30px;
      .expense-left-col {
        padding: 16px 12px;
        font-size: 16px;
        font-family: 'Open Sans';
        font-weight: 500;
        margin: 20px 0;
      }
      .selected-value {
        background-color: #b8d3fc;
        cursor: pointer;
      }
      .un-selected-value {
        background-color: #efeff1;
        cursor: pointer;
      }
      .expense-right-col {
        .heading {
          margin: 0 !important;
        }
        .dropdown-claim-p {
          font-size: 16px;
          font-weight: 500;
          font-family: 'Open Sans';
          padding-left: 20px;
        }
        .expense-options {
          margin-left: 40px;
          padding: 16px 12px;
          font-size: 16px;
          font-weight: 500;
          min-width: 400px;
          font-family: 'Open Sans';
          max-width: 300px;
        }

        .bottom-buttons {
          margin-top: 60px;
          padding: 15px 20px;
          background-color: #f7f5f8;
          font-family: 'Open Sans';
          border-radius: 8px;
        }

        .claim-dates-row {
          margin-top: 30px;
          padding: 20px 0;
          background-color: #d4def7;
          p {
            font-size: 16px;
            margin: 0;
            font-family: 'Open Sans';
            font-weight: 500;
          }
          h2 {
            font-family: 'Open Sans';
            margin: 0;
          }
        }

        .rows-background {
          margin: 20px 0;
          background-color: #f2f6ff;
          padding: 20px 0;

          .reimbursement-form {
            .ant-form-item-label {
              label {
                font-weight: 500;
              }
            }
          }

          h2 {
            font-family: 'Open Sans';
            margin: 0;
          }
        }

        .general {
          margin-bottom: 10px;
        }

        .tab-two-button {
          margin-top: 20px;
        }
      }
    }
  }
}
.tooltip {
  background-color: #ffffff !important;
  color: #000000;
  max-width: 800px;

  .tooltip-heading {
    background-color: #f7f5f8;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid black;
    font-family: 'Open Sans';
    padding: 0 10px;
  }
  .tooltip-body {
    padding: 10px 10px;

    h4 {
      font-family: 'Open Sans';
      margin: 0;
    }
    p {
      margin: 0;
      padding-left: 5px;
      font-family: 'Open Sans';
      margin-bottom: 10px;
    }
  }
}

.reimbursement-status {
  .ant-modal-title {
    h2 {
      font-family: 'Open Sans';
      margin: 0;
    }
  }
}
