.overview-container {
  background-color: #ffffff !important;
  width: 100%;
  .overview-header {
    padding: 20px 20px 0 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.04);
    h2 {
      font-family: 'Open Sans';
      margin: 0;
    }

    .overview-tabs {
      padding: 20px 20px 0 20px;

      h3 {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #656c7c;
        padding-bottom: 8px;
        border-bottom: 3px solid #ffffff;
        cursor: pointer;
        margin: 10px 40px 0 0;
      }

      h3:hover {
        color: #000000;
      }

      .active-tab {
        color: #000000;
        border-bottom: 4px solid #5fa1ff;
      }
    }
  }
  .my-summary-body {
    padding: 40px 0;
    max-width: 100%;

    .left-card {
      background-color: #e6e6e6;
      padding: 20px;

      .open-tasks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tick-icon {
          font-size: 70px !important;
          padding: 5px 10px;
          color: rgb(241, 157, 0);
          font-family: 'Open Sans';
          background-color: rgb(214, 139, 0);
        }
      }

      .blue-filter-button {
        color: #ffffff;
        background-color: #065cd4;
        padding: 10px;
        border: 1px solid #065cd4;
        font-family: 'Open Sans';
        border-radius: 50px;
        cursor: pointer;
      }
      .filters-button {
        color: #656c7c;
        font-size: 14px;
        font-family: 'Open Sans';
        cursor: pointer;

        span {
          color: #065cd4;
        }
      }

      .ant-collapse-item {
        margin: 20px 0;
        background: #e6e6e6;
        border: 1px solid;
        border-radius: 8px;
      }

      .ant-collapse-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
      }
    }

    .feedback-dropdown {
      display: flex;
      flex-direction: column;

      label {
        padding: 5px 0;
      }
    }
  }

  .team-summary-body {
    padding: 40px 0;
    max-width: 100%;

    .ant-collapse-header {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin: 30px 0;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.04);
    }
    .review-heading {
      background-color: #9c9cbf47;
      padding: 15px 20px;
    }

    .blue-button {
      background-color: #065cd4;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      padding: 20px;
    }

    .filter-row {
      margin: 30px 0;
    }

    .right-flter {
      display: flex;
      align-items: center;
      justify-content: end;
      .download-button {
        background-color: #065cd4;
        color: #ffffff;
        font-weight: 700;
        padding: 18px 30px;
        font-family: 'Open Sans';
        border-radius: 8px;
      }

      .profile-icon {
        font-size: 60px !important;
        //   padding: 5px 10px;
        font-family: 'Open Sans';
        color: #065cd4;
      }
    }

    .table-container {
      background-color: #e6e6e6;
      padding: 20px;
      border-radius: 8px;

      .search-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .filter-button {
          color: #ffffff;
          background-color: gray;
          padding: 10px 12px;
          font-weight: 700;
          border: 1px solid gray;
          border-radius: 2px;
          font-family: 'Open Sans';
          cursor: pointer;
        }
      }
    }

    .footer-row {
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bulk-action {
        background-color: #065cd4;
        color: #ffffff;
        font-weight: 700;
        padding: 18px 30px;
        border-radius: 8px;
        font-family: 'Open Sans';
        cursor: pointer;
      }

      .clear {
        font-size: 14px;
        font-weight: 700;
        color: #065cd4 !important;
        font-family: 'Open Sans';
        cursor: pointer;
      }
    }
  }
}
